In [43]:
import pandas as pd
from pathlib import Path

# Declare emepty list to store each dataframe and declare paths

In [59]:
p = Path.cwd().glob('*.xlsx')
OUTPUT_DIR =Path.cwd() / 'Output'
OUTPUT_DIR.mkdir(exist_ok=True)
df_list = []
OUTPUT_DIR

WindowsPath('C:/Users/User/Desktop/Projects/Anaconda/Pandas combine worksheets with different columns names/Output')

## create a dictionary to change names

In [53]:
names = {'Totals':'Total','Cost':'Price','Items':'Units' }

## loop all files with .xlsx extension

In [57]:
for f in p:
    print(f.stem)

Book1
Book2
Book3

In [61]:

for f in p:
    data = pd.read_excel(f.name)
    data['file'] = f.stem
    data.rename(columns=names, inplace=True)
    df_list.append(data)
df_list

[         Date  Units  Price  Total   file
 0  2022-02-01     48     16    768  Book1
 1  2022-02-02     12      7     84  Book1
 2  2022-02-03     25     80   2000  Book1
 3  2022-02-04     41     90   3690  Book1
 4  2022-02-07     11     17    187  Book1
 5  2022-02-08     25     91   2275  Book1
 6  2022-02-09     41     57   2337  Book1
 7  2022-02-10     37     67   2479  Book1
 8  2022-02-11     19     11    209  Book1
 9  2022-02-14     35     24    840  Book1
 10 2022-02-15     27     89   2403  Book1
 11 2022-02-16     35      7    245  Book1
 12 2022-02-17     46     49   2254  Book1
 13 2022-02-18     29     13    377  Book1
 14 2022-02-21     49     16    784  Book1
 15 2022-02-22     37     24    888  Book1
 16 2022-02-23     31     36   1116  Book1
 17 2022-02-24     34     29    986  Book1
 18 2022-02-25     24     35    840  Book1
 19 2022-02-28      8     91    728  Book1
 20 2022-03-01     23     39    897  Book1
 21 2022-03-02      9     24    216  Book1
 22 2022-03-03     36      6    216  Book1
 23 2022-03-04     21     22    462  Book1
 24 2022-03-07     14     14    196  Book1
 25 2022-03-08     28     66   1848  Book1
 26 2022-03-09     22     92   2024  Book1
 27 2022-03-10     43     49   2107  Book1,
          Date  Units  Price  Total   file
 0  2022-02-01     48     16    768  Book2
 1  2022-02-02     12      7     84  Book2
 2  2022-02-03     25     80   2000  Book2
 3  2022-02-04     41     90   3690  Book2
 4  2022-02-07     11     17    187  Book2
 5  2022-02-08     25     91   2275  Book2
 6  2022-02-09     41     57   2337  Book2
 7  2022-02-10     37     67   2479  Book2
 8  2022-02-11     19     11    209  Book2
 9  2022-02-14     35     24    840  Book2
 10 2022-02-15     27     89   2403  Book2
 11 2022-02-16     35      7    245  Book2
 12 2022-02-17     46     49   2254  Book2
 13 2022-02-18     29     13    377  Book2
 14 2022-02-21     49     16    784  Book2
 15 2022-02-22     37     24    888  Book2
 16 2022-02-23     31     36   1116  Book2
 17 2022-02-24     34     29    986  Book2
 18 2022-02-25     24     35    840  Book2
 19 2022-02-28      8     91    728  Book2
 20 2022-03-01     23     39    897  Book2
 21 2022-03-02      9     24    216  Book2
 22 2022-03-03     36      6    216  Book2
 23 2022-03-04     21     22    462  Book2
 24 2022-03-07     14     14    196  Book2
 25 2022-03-08     28     66   1848  Book2
 26 2022-03-09     22     92   2024  Book2
 27 2022-03-10     43     49   2107  Book2,
          Date  Units  Price  Total   file
 0  2022-02-01     48     16    768  Book3
 1  2022-02-02     12      7     84  Book3
 2  2022-02-03     25     80   2000  Book3
 3  2022-02-04     41     90   3690  Book3
 4  2022-02-07     11     17    187  Book3
 5  2022-02-08     25     91   2275  Book3
 6  2022-02-09     41     57   2337  Book3
 7  2022-02-10     37     67   2479  Book3
 8  2022-02-11     19     11    209  Book3
 9  2022-02-14     35     24    840  Book3
 10 2022-02-15     27     89   2403  Book3
 11 2022-02-16     35      7    245  Book3
 12 2022-02-17     46     49   2254  Book3
 13 2022-02-18     29     13    377  Book3
 14 2022-02-21     49     16    784  Book3
 15 2022-02-22     37     24    888  Book3
 16 2022-02-23     31     36   1116  Book3
 17 2022-02-24     34     29    986  Book3
 18 2022-02-25     24     35    840  Book3
 19 2022-02-28      8     91    728  Book3
 20 2022-03-01     23     39    897  Book3
 21 2022-03-02      9     24    216  Book3
 22 2022-03-03     36      6    216  Book3
 23 2022-03-04     21     22    462  Book3
 24 2022-03-07     14     14    196  Book3
 25 2022-03-08     28     66   1848  Book3
 26 2022-03-09     22     92   2024  Book3
 27 2022-03-10     43     49   2107  Book3]

## concat all dataframes

In [62]:
data = pd.concat(df_list, ignore_index=True)
data.columns = data.columns.str.title()
data['Date'] = data['Date'].dt.strftime('%d/%m/%Y')

## export as xlsx

In [64]:
data.to_excel(f"{OUTPUT_DIR}/data.xlsx",index=False)
print('Done')

Done